{% extends "layout.html" %}

{% block title %}
    Confirm
{% endblock %}

{% block main %}


<div style="margin-top: 100px;" class="loginform">
    <form action="/update" method="POST">
        <div class="emailfield">
            <label for="exampleInputEmail1">Original URL: </label>
            <br/>
            <input style="width: 500px; text-align: left;" type="url" class="input-group-text" id="exampleInputEmail1" value="{{ original_url }}" readonly>
        </div>
        <div style="margin-top: 35px;" class="emailfield">
            <label for="inlineFormInputGroup">New URL: </label>
            <div class="input-group mb-2">
                <input type="hidden" value="{{ code }}" name="code">
                <div class="input-group-prepend">
                    <div class="input-group-text">{{ BASE_URL }}</div>
                </div>
                <input type="text" class="exampleInputEmail2" id="inlineFormInputGroup" value="{{ code }}" name="new">
            </div>
        </div>
        <button type="submit" class="loginbutton">Submit</button>
    </form>
    <br>
</div>

{% endblock %}