{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-4">Flask Project | Bit.ly Clone | A URL Shortener</h1>
  </div>
    <form action="/" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">URL</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="url" required>
            <small id="emailHelp" class="form-text text-muted">Put the URL that you want to shorten here</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        

    </form>
    {% if  session["user_id"] %}
    <form action="/retrieve" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Retrieve</label>
            <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="rurl" required>
            <small id="emailHelp" class="form-text text-muted">Put the URL that you want to retrieve here</small>
        </div>
        <button type="submit" class="btn btn-primary">Retrieve</button>
        

    </form>
    <br>
    {% endif %}
    
{% endblock %}