<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/0a44d989c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="loginform">
        <form action="/login" method="POST">
            <div class="form-group">
                <div class="emailfield">
                    <label for="exampleInputEmail1">Email address: </label>
                    <br/>
                    <input type="email" class="exampleInputEmail1" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
                </div>
            </div>
            <div class="form-group">
                <div class="emailfield">
                    <label for="exampleInputPassword1">Password: </label>
                    <br/>
                    <input type="password" class="exampleInputEmail1" id="exampleInputPassword1" name="password">
                </div>
            </div>
            <button type="submit" class="loginbutton">Submit</button>
        </form>
    </div>
{% endblock %}