{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="loginform">
        <form action="/register" method="POST">
            <div class="form-group">
                <div class="emailfield">
                    <label for="exampleInputEmail1">Email address: </label>
                    <br/>
                    <input type="email" class="exampleInputEmail1" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
                </div>
            </div>
            <div class="form-group">
                <div class="emailfield">
                    <label for="exampleInputPassword1">Password: </label>
                    <br/>
                    <input type="password" class="exampleInputEmail1" id="exampleInputPassword1" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="emailfield">
                    <label for="exampleInputPassword1">Confirm Password: </label>
                    <br/>
                    <input type="password" class="exampleInputEmail1" id="exampleInputPassword1" name="confirmation">
                </div>
            </div>
            <button type="submit" class="loginbutton">Submit</button>
        </form>
    </div>
{% endblock %}